#odinR {
    color: rgb(199, 111, 12);
    text-align: center;
    background-color: rgb(59, 59, 59);
    width: auto;
    padding-top: 15px;
    padding-bottom: 15px;
}

.indexPage {
    background-color: rgb(230, 208, 114);
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -20px;
}

html, body {
    margin: 0px;
    padding: 0px;
    height: 100%;
}

h1 {
    margin: 0px;
}